@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    transition: all .30s;
    color: #9873FF;
    border-bottom: 1px solid #9873FF;
}
.active:hover{
    color: #9873FF;
}